@import"../utils/box-shadow.scss";

.explorer{
    text-align: center;
    & h2{
        margin-top: 2rem;
        font-size: 2rem;
    }
    & p{
        font-size: 1rem;
    }
    & button{
        color: white;
        font-weight: 300;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        border: none;
        background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
        //box-shadow: 3px 2px 16px -6px rgba(0,0,0,0.75);
        border-radius: 30px;
        margin-top: 35px;
        @include base-shadow
    }
    
    & button:hover{
        transform: scale(1.01);
        opacity: 0.9;
    }
    }