/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
}

img{
    object-fit: cover;
}



.logo{
    padding-top: 15px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    max-height: 190px;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin-top: 0px;
}

.card-subtitle {
    margin: 3px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}



.moninput{
    width: 72%;
    border: none;
}


.bouton-rechercher{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--main-color);
    color: white;
    border: 15px solid var(--main-color);
    font-weight: bold;
    
}
.research{
    display: inline-block;
}

.research {
    display: inline; 
}

.fa-search {
    display: none;
}

#search ::placeholder{
    font-weight: bold;
    opacity: 1;
    color: black;

}
.search-container{
    width: 31%;
    height: 45px;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

.search-container .icon{
    height: 100%;
    width: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    padding-left: 15px;
    
}

.search-container .icon i{
    color: black;
    margin-right: 10px
}

#mon-logo{
    width: 73px
}

/*** HEADER ***/

nav{
    display: flex;
    justify-content: space-between;
}

.hover-color{
    padding-top: 15px;
    border-top: 3px solid transparent;
    
}
.hover-color:hover{
    border-top: 3px solid var(--main-color);
    color: var(--main-color);
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
 .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;

}

.aspect_filtres{
    border: 3px solid #F2F2F2;
    border-radius: 30px;
    padding: 11px 15px 11px 0px;
    display: flex;
    align-items: center;
    }

.aspect_filtres p{
    font-weight: bold;
    margin: 0px;
}

.titre_filtres{
    margin-top: 15px;
    margin-right: 12px;
}


.icone_filtres{
    width: 15px;
    height: 15px;
    font-size: 20px;
    color: #0065FC;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    padding: 0px 14px 0px 14px;
}

.filtres{
    width: 100%;
    display: flex;
}

.filtres_categories{
    display: flex;
    width: 65%;
    justify-content: space-between;
}

.filtres .aspect_filtres:hover {
    background-color: #DEEBFF;
    color: #000; 
}


.moninput::placeholder {
    font-weight: bold; 
    color: black;
    
}

.moninput {
    padding-left: 10px;
    width: 85%; /* Ajustez la largeur selon vos préférences */
    box-sizing: border-box; /* Inclure le padding dans la largeur totale */
    text-indent: 10px; /* Décale le texte de 10px à droite */
}





/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements_image{
    background-color: white;
    width: 200px;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 5px;
    margin-bottom: 7px;
}
.hebergements-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.hebergements-cards .card{
    width: 28%;
    margin: 5px;
}
.hebergements-cards img{
    width: 100%;
    max-height: 45%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.choix_hebergements{
    
    background-color: white;
    width: 95px;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 30px;
    margin-bottom: 7px;
    }

.bold{
        display: inline; /* pour supprimer le retour à la ligne de la balise p */
        font-weight: bold;
         }


.info{
    display: flex;
    align-items: center;
}

.info i {
    margin-right: 8px;
    border: 1px solid #D9D9D9; /* Ajoute une bordure */
    border-radius: 50%; /* Rend la bordure circulaire */
    padding: 5px;
    width: 14px;
    height: 14px;
    margin-left: 3px;
    }

    .icone-important {
        font-size: 13px; /* Ajustez la taille de police de l'icône selon vos préférences */
        display: flex;
        align-items: center; /* Centre l'icône verticalement */
        justify-content: center; /* Centre l'icône horizontalement */
    }
    
    
    
    
    
    

/****** Populaires ***********/



.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/*ACTIVITES A MARSEILLE*/

.activite { 
    margin: 5px;

}


.card-activite.vieux-port {
    position: relative;
    margin: 10px;
    
}

.card-activite {
    width: 100%; 
  }


.activite-container {
    display: flex;
    justify-content: space-between;
}



.card-activite.vieux-port .card-content {
    text-align: left;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    height: 8px;
    background-color: white; 
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); /* Ombre sous le texte */
    height: 36px;
    padding-top: 4%;
}

.card-activite.vieux-port h3 {
    font-size: 15px;
    margin-left: 4%;
     
}
    

.card-activite img {
    width: 100%; 
    height: 300px; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.activite-container {
    display: flex; 
    justify-content: space-between; /* Aligner les éléments avec un espacement égal entre eux */
}
.activite {
    flex: 1; /* Pour que chaque élément occupe un espace égal dans le conteneur */
}

/*********FOOTER*********/

.footer {
    background-color: #f0f0f0; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 9%;
  }
  
  

.footer p {
    color: #000;
    margin: 3px 0;
    margin: 10px 0;
    

    
}
  .footer .container {
    padding-top: 18px; /* Ajoute de l'espace en haut du conteneur */
    padding-left: 10px;
}

.colonne-hebergement{
    width: 20%;
    padding-top: 18px;

}

.colonne-assistance{
    width: 34%;
    padding-top: 18px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
    .aspect_filtres p {
        white-space: nowrap;
    }

    .filtres{
        display: block;
    }

    .titre_filtres{
        margin-bottom: 10px;
    }

    .menu{
        width: 33%;
    }

    .trouvez-hebergement{
        margin-top: 77px;
    }

    .card-activite img{
        height: 209px;
    }

    .card-activite.vieux-port h3{
        font-size: 14px;
        margin-left: 4%;
    }
    
    .search-container{
        width: 50%;
        margin-top: 36px;
    }

    .populaires-cards img {
        width: 24%;
        height: 126px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    
    

    .info{
        margin-top: 20px;
        margin-bottom: 20px
    }

    .activites-marseille{
        margin-top: 50px;
        margin-left: 15px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: block;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }



    .research {
        display: inline;
    }

    .fa-search {
        display: none; 
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .hover-color{
        width: 50%;
        text-align: center;
        border-bottom: 4px solid white;
        padding-bottom: 10px;
        font-size: 21px;
        border-bottom: 3px solid var(--main-bg-color);
    }

    .hover-color:hover{
        border-top: none;
        border-bottom: 3px solid var(--main-color);
    }

    #mon-logo{
        width: 80px;
    }

    nav{
        display: block;
    }

    .main-container{
        padding:0%;
    }

    .aspect_filtres p {
        white-space: nowrap;
        
    }
    
    .aspect_filtres{
        border-radius: 40px;
        width: 40%;
        margin: 4px 4px;
        font-size: 15px;

    }

    .titre_filtres{
        margin-bottom: 10px;
        font-size: 20px;
    }

    .filtres_categories{
        display: flex;
        flex-wrap: wrap;
        width: 95%;
    }

    body {
        font-size: 14px; /* Réduire la taille de la police pour les petits écrans */
    }

    .nav{
    flex-direction: column;
    }

    .logo img{
    margin: auto;
    }   

    .logo{
    display: flex;
    }

    .menu{
    width: 100%;
    }
    .filtres{
        margin-left: 3%;
    }


    .bouton-rechercher{
        width: 52px;
        padding-left: 4px;
        height: 100%;
        border-radius: 15px;
        font-size: 16px;
        box-shadow: 0px 8px 17px -6px rgba(0, 0, 0, 0.7), 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .search-container{
        border-radius: 23px;
        width: 66%;
    }

    .search-container .icon{
        height: 100%;
        width: 41px;
        justify-content: center;
    }

    .moninput{
        width: 68%;
        font-size: 17px;
    }
    
 
    .research {
    display: none; 
    }

    .fa-search {
    display: inline;
    }

    .info{
    font-size: 24px;
    }

    .info i{
    margin-right: 8px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    padding: 5px;
    width: 19px;
    height: 15px;
    margin-left: 3px;

    }

    .info p{
        font-size: 15px;
    }

/** ******* HEBERGEMENT ************/

   .hebergements-cards .card{
    width: 95%;
    }

   .card{
    max-height: none;
    }

    .populaires-cards img {
        width: 29%;
        height: 118px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

   .hebergements-cards img{
    height: 197px;
    }


   .hebergements-and-populaires{
    flex-direction: column-reverse;
    
    }
   

    .hebergements-cards {
        display: block;
    }


    .populaires-cards{
        display: block;
    }

    .populaires{
        background: var(--main-bg-color);
        border-radius: 0px;
    }

    .activite-container {
    display: block;
    }
    
    .search-container{
        width: 93%;
        justify-content: space-between;
        margin-left: 3%;
        
    }

    .trouvez-hebergement{
        margin-top: 10px;
        padding: 5px;
    }

    .trouvez-hebergement h2{
        font-size: 20px;
        margin-left: 3%;
    }

    .trouvez-hebergement p{
        font-size: 15px;
        margin-left: 3%;
    }

    section.populaires {
        background-color: var(--main-bg-color);
        border-radius: 0px 0px 0px 0px; 
    }

    section.hebergements {
        background-color: transparent; 
    }
    
    

    .card-activite{
        width: 97%;
    }

    .menu {
    width: 100%;
    margin-top: 15px;
    padding-bottom: 10px;
    }
    
    
     .footer{
        display: block;
        height: 15%;
    }

    
    
}