.ville{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    text-align: center;
    padding: 0.5rem;
    gap: 1rem;
    & i{
        font-size: 1.5rem;
    }
}